<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <title>INSTAGRAM</title>
    <link rel="icon" href="{% static 'images/flipkartlogo.jpg' %}">

</head>
<body bgcolor="red">
<h1>This is a instagram application</h1>
<center>
    Login Data <br>
<input type="email" placeholder="User name"><br>
<input type="password" placeholder="Pass"><br>
<input type="text">
    </center>

<img src="{% static 'images/bike.jpg' %}" alt="My_Bike" height="50" width="50">
<img src="{% static 'images/flipkartlogo.jpg' %}" alt="home" height="50" width="50">

</body>
</html>