{% load static %}
<html>
    <style>
        body{
            background-color: green;
        }
        p{
            text-align: center;
            background-color: yellow;
        }
        #v
        {
            background-color: aqua;
            text-align: center;
        }
    </style>
    <body>
        <p class="v1">This is first class</p>
        <p class="v1">Second class</p>
        <p id="v">This is id selector</p><br>
        <p id="p">This is P  id selector</p>
        This is a body
        <p>This is css</p>
    <img src="{% static 'images/bike.jpg' %}" alt='jsd file'>
    </body>
</html>